body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  padding: 20px;
}
h1 {
  text-align: center;
  color: blue;
  font-family: 'Roboto', sans-serif;
}
#planets {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  border: 2px solid #0066ff;
  font-family: 'Lucida Console', sans-serif;
  background-color: #e0f7fa;
  color: #0066ff;
  padding: 20px;
}